# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [34]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [35]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [36]:
# Your code here:
pokemon.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [37]:
# Your code here:

legendary_counts = pokemon['Legendary'].value_counts()

legendary_counts

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [38]:
# Your code here:
legendary_mean = pokemon[pokemon["Legendary"] == True]["Total"].mean()
print(f"legendary_mean = {legendary_mean}")

legendary_std = pokemon[pokemon["Legendary"] == True]["Total"].std()
print(f"legendary_std = {legendary_std}")

non_legendary_mean = pokemon[pokemon["Legendary"] == False]["Total"].mean()
print(f"non_legendary_mean = {non_legendary_mean}")

non_legendary_std = pokemon[pokemon["Legendary"] == False]["Total"].std()
print(f"non_legendary_std = {non_legendary_std}")

legendary_mean = 637.3846153846154
legendary_std = 60.93738905315344
non_legendary_mean = 417.21360544217686
non_legendary_std = 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [39]:
# Your code here:

# Null Hypothesis (H0): There is no significant difference in the mean total points between Legendary and Non-Legendary Pokémon.
# Alternative Hypothesis (H1): There is a significant difference in the mean total points between Legendary and Non-Legendary Pokémon.


from scipy.stats import ttest_ind

# Separate Total points for Legendary and Non-Legendary
legendary_total = pokemon[pokemon["Legendary"] == True]["Total"]
non_legendary_total = pokemon[pokemon["Legendary"] == False]["Total"]

In [40]:

legendary_total

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [56]:

non_legendary_total

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: Total, Length: 735, dtype: int64

In [ ]:
# T-test with unequal variances
t_stat, p_value = ttest_ind(legendary_total, non_legendary_total, equal_var=False)

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

T-statistic: 25.8335743895517
P-value: 9.357954335957444e-47

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

# Reject the Null-Hypothesis: There is sufficient evidence to conclude that there is a significant difference in the mean total points between Legendary and Non-Legendary Pokémon.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [ ]:
# Your code here:

type1_counts = pokemon["Type 1"].value_counts()

type1_counts

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [74]:
# Your code here:

water_pokemon_total = pokemon[pokemon["Type 1"] == "Water"]["Total"]
non_water_pokemon_total = pokemon[pokemon["Type 1"] != "Water"]["Total"]

water_pokemon_total

9      314
10     405
11     530
12     630
59     320
      ...
724    314
725    405
726    530
762    330
763    500
Name: Total, Length: 112, dtype: int64

In [77]:
water_total_mean = water_pokemon_total.mean()
print(f"water_total_mean = {water_total_mean}")

water_total_std = water_pokemon_total.std()
print(f"water_total_std = {water_total_std}")

non_water_total_mean = non_water_pokemon_total.mean()
print(f"non_water_total_mean = {non_water_total_mean}")

non_water_total_std = non_water_pokemon_total.std()
print(f"non_water_total_std = {non_water_total_std}")

water_total_mean = 430.45535714285717
water_total_std = 113.1882660643146
non_water_total_mean = 435.85901162790697
non_water_total_std = 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [81]:
# Your code here:

# Null Hypothesis (H0): There is no significant difference in the mean total points between Water-type Pokémon and Non-Water Pokémon.
# Alternative Hypothesis (H1): There is a significant difference in the mean total points.


t_stat, p_value = ttest_ind(water_pokemon_total, non_water_pokemon_total, equal_var=True)

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")  # Scientific notation for small values

T-statistic: -0.4418547448849676
P-value: 0.6587140317488793

Write your conclusion below.

In [ ]:
# Your conclusions here:

# Fail to reject Null Hypothesis: Not enough evidence to say there is a significant difference in the mean total points.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [ ]:
# Your code here:

# Null Hypothesis (H0): The defense and attack scores of each Pokemon are equal.
# Alternative Hypothesis (H1): The defense and attack scores of each Pokemon are NOT equal.

# MY NOTE: Paired (dependant) t-test is needed because we are dealing with paired observations (each Pokémon has both an Attack and Defense score).

from scipy.stats import ttest_rel

t_stat, p_value = ttest_rel(pokemon["Defense"], pokemon["Attack"])


print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

T-statistic: -4.325566393330478
P-value: 1.7140303479358558e-05

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

# Reject the Null Hypothesis: There is significant statistical evidence that the Defense and Attack scores of Pokémon are not equal.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [ ]:
# Your code here:

# Null Hypothesis (H0): The mean Special Attack and Special Defense scores are equal.
# Alternative Hypothesis (H1): The mean Special Attack and Special Defense scores are NOT equal.

# MY NOTE: Paired (dependant) t-test is needed because we are dealing with paired observations.

t_stat, p_value = ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

T-statistic: 0.853986188453353
P-value: 0.3933685997548122

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

# Failed to reject Null Hypothesis: There is not enough evidence to state that mean Special Attack and Special Defense scores are NOT equal.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [ ]:
# Your code here:
    
from scipy.stats import ttest_1samp

differences = pokemon["Sp. Def"] - pokemon["Sp. Atk"]

# one-sample t-test on the differences
t_stat, p_value = ttest_1samp(differences, 0)  # Testing if the mean difference is 0


print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Same result!

T-statistic: -0.853986188453353
P-value: 0.3933685997548122

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [53]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [54]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [55]:
# Your answer here: